<html>
<head>
    <title>GUI</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <main class="main">
        <div class="container">
            {% if vvk %}
                <div class="vvk border">
                    <h1>{{vvk['vvk_name']}}</h1>
                    {% if vvk["status_reg"] is none %}
                        <p>Статус регистрации: Не зарегистрирован</p>
                    {% elif vvk["status_reg"] is true %}
                        <p>Статус регистрации: Зарегистрирован</p>
                        <p>Время регистрации: {{vvk["time_reg"]}}</p>
                    {% else %}
                        <p>Статус регистрации: Ошибка</p>
                        <p>Время ошибки: {{vvk["time_reg"]}}</p>
                        <p>Ошибка: {{vvk["error_reg"]}}</p>
                    {% endif %}
                        <p></p>
                    {% if vvk["time_value"] is not none %}
                        <p>Время последней передачи ПФ: {{vvk["time_value"]}}</p>
                    {% endif %}
                    {% if vvk["error_value"] is not none %}
                        <p>Получена ошибка: {{vvk["error_value"]}}</p>
                    {% endif %}
                </div>
                <div class="visually-hidden">{{vvk}}</div>
                <div class="border">
                    <h2>Агенты</h2>
                    {% for item in agents %}
                    <div class="border border-mini">
                        <p>Agent_id: {{item["number_id"]}}</p>
                        <p>Agent_reg_id: {{item["agent_reg_id"]}}</p>

                        {% if item["status_reg"] is none %}
                            <p>Статус регистрации: Не зарегистрирован</p>
                        {% elif item["status_reg"] is true %}
                            <p>Статус регистрации: Зарегистрирован</p>
                            <p>Время регистрации: {{item["time_reg"]}}</p>
                        {% else %}
                            <p>Статус регистрации: Ошибка</p>
                            <p>Время ошибки: {{item["time_reg"]}}</p>
                            <p>Ошибка: {{item["error_reg"]}}</p>
                        {% endif %}
                        <p></p>
                        {% if item["time_value"] is not none %}
                            <p>Время последней приема ПФ: {{item["time_value"]}}</p>
                        {% endif %}
                        {% if item["error_value"] is not none %}
                            <p>Получена ошибка: {{item["error_value"]}}</p>
                        {% endif %}
                        <div class="visually-hidden">{{item}}</div>
                    </div>
                    {% endfor %}
                </div>

            {% else %}
                <div class="border">
                    <h1> Нет зарегестрированной JoinScheme</h1>
                </div>
            {% endif %}
        </div>
    </main>
</body>
</html>