<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GUI</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">

    <script>
        function redirectToVvkScheme() {
            window.location.href = "{{ url_for('gui_pages_vvk') }}";
        }

        function redirectToUploadVvkScheme() {
            window.location.href = "{{ url_for('upload_form_get') }}";
        }

        function redirectToAgentDetails(agent_reg_id) {
            window.location.href = `gui/agent_details/${agent_reg_id}`;
        }

        function redirectToAgentParams(agent_id) {
            window.location.href = `gui/agent_params/${agent_id}`;
        }

        function redirectToStatusSave() {
            window.location.href = `gui/status_save`;
        }

        function redirectToValidation() {
            window.location.href = `gui/details`;
        }

        function redirectToEditor() {

            window.location.href = "{{ url_for('editor_main') }}";
        }
    </script>
</head>
<body>
    <main class="main">
        <div class="container">
            {% if vvk %}
                <div class="main__vvk border">
                    <h1>{{vvk['vvk_name']}}</h1>
                    {% if vvk["status_reg"] is none %}
                        {% if vvk["number_id"] is none %}
                            <p>Статус регистрации: Не зарегистрирован</p>
                        {% else %}
                            <p>Статус регистрации: Необходима перерегистрация</p>
                            <p>Vvk id: {{vvk["number_id"]}}</p>
                        {% endif %}
                        <p>Scheme revision: {{vvk["scheme_revision"]}}</p>
                        <p>User query interval revision: {{vvk["user_query_interval_revision"]}}</p>
                    {% elif vvk["status_reg"] is true %}
                        <p>Статус регистрации: Зарегистрирован</p>
                        <p>Vvk id: {{vvk["number_id"]}}</p>
                        <p>Scheme revision: {{vvk["scheme_revision"]}}</p>
                        <p>User query interval revision: {{vvk["user_query_interval_revision"]}}</p>
                        <p>Время регистрации: {{vvk["time_reg"]}}</p>
                    {% else %}
                        <p>Статус регистрации: Ошибка</p>
                        <p>Vvk id: {{vvk["number_id"]}}</p>
                        <p>Scheme revision: {{vvk["scheme_revision"]}}</p>
                        <p>User query interval revision: {{vvk["user_query_interval_revision"]}}</p>
                        <p>Время ошибки при регистрации: {{vvk["time_reg"]}}</p>
                        <p>Ошибка регистрации: {{vvk["error_reg"]}}</p>
                    {% endif %}
                        <p></p>
                    {% if vvk["time_value_out"] is not none %}
                        <p>Время передачи ПФ (состояние агентов): {{vvk["time_value_out"]}}</p>
                    {% endif %}
                    {% if vvk["error_value_out"] is not none %}
                        <p>Ошибка передачи ПФ: {{vvk["error_value_out"]}}</p>
                    {% endif %}
                    {% if vvk["time_conn"] is not none %}
                        {% if vvk["error_conn"] is true %}
                            <p>Контроль канала связи: Нет соединения</p>
                            <p>Время последнего успешного контроля связи: {{vvk["time_conn"]}}</p>
                        {% else %}
                            <p>Контроль канала связи: OK</p>
                            <p>Время последнего успешного контроля связи: {{vvk["time_conn"]}}</p>
                        {% endif %}
                    {% endif %}
                    <div class="main__block-center flex">
                        <button class="btn reset-btn" onclick="redirectToVvkScheme()">
                            Посмотреть Vvk Scheme
                        </button>
                        <button class="btn reset-btn" onclick="redirectToUploadVvkScheme()">
                            Обновить Vvk Scheme
                        </button>
                    </div>
                    <p></p>
                    <div class="main__block-center flex">
                        <button class="btn--square btn reset-btn" onclick="redirectToStatusSave()">
                            {% if GLOBAL_STATUS_SAVE is true %}
                                Выключить сохранение последнего ПФ
                            {% else %}
                                Включить сохранение последнего ПФ
                            {% endif %}
                        </button>
                    </div>
                    <p></p>
                    <div class="main__block-center flex">
                        <button class="btn reset-btn" onclick="redirectToEditor()">
                            Открыть редактор
                        </button>
                    </div>
                    <p></p>
                    <div class="main__block-center flex">
                        <button class="btn reset-btn" onclick="redirectToValidation()">
                            Дополнительные действия
                        </button>
                    </div>
                </div>
                <div class="border">
                    <h2>Агенты</h2>
                    {% for item in agents %}
                    <div class="border border-mini">
                        <p>Agent_id: {{item["number_id"]}}</p>
                        <p>Agent_reg_id: {{item["agent_reg_id"]}}</p>
                        <p>Scheme revision: {{item["scheme_revision"]}}</p>

                        {% if item["status_reg"] is none %}
                            {% if item["error_reg"] is none %}
                                <p>Статус регистрации: Не зарегистрирован</p>
                            {% else %}
                                <p>Статус регистрации: Не зарегистрирован (Но была сделана попытка регистрации)</p>
                                <p>Время ошибки: {{item["time_reg"]}}</p>
                                <p>Ошибка регистрации: {{item["error_reg"]}}</p>
                            {% endif %}
                        {% elif item["status_reg"] is true %}
                            {% if item["error_reg"] is none %}
                                <p>Статус регистрации: Зарегистрирован</p>
                                <p>Время регистрации: {{item["time_reg"]}}</p>
                            {% else %}
                                <p>Статус регистрации: Зарегистрирован (Но была сделана попытка перерегистрации)</p>
                                <p>Время ошибки: {{item["time_reg"]}}</p>
                                <p>Ошибка перерегистрации: {{item["error_reg"]}}</p>
                            {% endif %}
                        {% else %}
                            <p>Статус регистрации: Ошибка</p>
                            <p>Время ошибки: {{item["time_reg"]}}</p>
                            <p>Ошибка регистрации: {{item["error_reg"]}}</p>
                        {% endif %}
                        <p></p>
                        {% if item["time_value"] is not none %}
                            {% if item["error_value"] is not none %}
                                <p>Ошибка приема ПФ: {{item["error_value"]}}</p>
                                <p>Время ошибки приема ПФ: {{item["time_value"]}}</p>
                            {% else %}
                                <p>Время последней успешного приема ПФ: {{item["time_value"]}}</p>
                            {% endif %}
                        {% endif %}
                        {% if item["time_value_out"] is not none %}
                            <p>Время последней успешной передачи ПФ в сторону АФ: {{item["time_value_out"]}}</p>
                        {% endif %}
                        {% if item["error_value_out"] is not none %}
                            <p>Ошибка передачи ПФ: {{item["error_value_out"]}}</p>
                        {% endif %}
                        {% if item["time_conn"] is not none %}
                            {% if item["error_conn"] is true %}
                                <p>Контроль канала связи: нет соединения</p>
                                <p>Время последнего успешного контроля связи: {{item["time_conn"]}}</p>
                            {% else %}
                                <p>Контроль канала связи: OK</p>
                                <p>Время последнего успешного контроля связи: {{item["time_conn"]}}</p>
                            {% endif %}
                        {% endif %}
                        <div class="main__block-center flex">
                            {% if GLOBAL_STATUS_SAVE is true  %}
                                {% if item["time_value"] is not none %}
                                    <div class="main__block-center flex">
                                        <button class="btn reset-btn" onclick="redirectToAgentParams({{item['number_id']}})">
                                        Посмотреть последний пакет
                                        </button>
                                    </div>
                                {% endif %}
                            {% endif %}
                            <div class="main__block-center flex">
                                <button class="btn reset-btn" onclick="redirectToAgentDetails('{{item['agent_reg_id']}}')">
                                Подробнее
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            {% else %}
                <div class="border">
                    <h1> Нет зарегистрированной JoinScheme</h1>
                    <div class="main__block-center flex">
                        <button class="btn reset-btn" onclick="redirectToUploadVvkScheme()">
                            Загрузить Join Scheme
                        </button>
                    </div>
                </div>
            {% endif %}
        </div>
    </main>
</body>
</html>