<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GUI</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">

    <script>
        function redirectToSchemeVvkTrue() {
            window.location.href = `vvk_scheme_true`;
        }

        function redirectToSchemeVvkFalse() {
            window.location.href = `vvk_scheme_false`;
        }
    </script>
</head>
<body>
<main class="main">
    <div class="container">
        <div class="main__vvk border">
            <h1>Для проверки схем</h1>
            <div class="main__block-center flex">
                <button class="btn reset-btn" onclick="redirectToSchemeVvkTrue()">
                    Посмотреть последнюю зарегистрированную схему ВВК на стороне АФ
                </button>
            </div>
            <p></p>
            <div class="main__block-center flex">
                <button class="btn reset-btn" onclick="redirectToSchemeVvkFalse()">
                    Посмотреть не зарегистрированную схему ВВК на стороне АФ
                </button>
            </div>
        </div>

    </div>
</main>
</body>
</html>