form input[type="file"] {
    overflow: hidden;
    padding: 8px 20px;
    border-radius: 20px;
    border: 1px solid var(--color-gray-light);
    font-size: 16px;
    cursor: pointer;
    transition: background-color var(--small-duration) ease, border var(--small-duration) ease, color var(--small-duration) ease;
}

form input[type="file"]::-webkit-file-upload-button {
    display: none;
}

form input[type="file"]::-moz-file-upload-button {
    display: none;
}

form input[type="file"]::file-selector-button {
    display: none;
}

form input[type="file"]::-ms-browse {
    display: none;
}

form input[type="file"]:hover {
    background-color: var(--color-gray-light);
}

form input[type="file"]:active {
    background-color: var(--color-gray);
    border-color: var(--color-gray);
}