:root {
  --default-fs: 16px;
  --default-lh: 20px;

  --container-width: 1200px;
  --container-padding: 50px;

  --small-duration: 0.3s;

  --color-green: #97EE3F;
  --color-white: #FFF;
  --color-black: #000;
  --color-gray: #666;
  --color-gray-light: #CACACA;
  --color-dark-light: #414141;
}